input {
  border-radius: 4px;
  padding: 10px;
  border: 1px solid white;
  background-color: #e9e9fc;
  margin: 20px;
}

button {
  border-radius: 4px;
  padding: 10px;
  border: none;
  color: #e9e9fc;
  margin: 0px;
  margin-left: 10px;
}

.tag_button {
  background-color: #762efc;
}

.filter_button {
  background-color: #3a59e4;
}