input {
  border-radius: 4px;
  padding: 10px;
  border: 1px solid white;
  color: #3f4d71;
  margin: 20px;
}

button {
  border-radius: 4px;
  padding: 10px;
  border: none;
  color: #ffffff;
  margin: 0px;
  font-size: 1.2em;
  background-color: #fd7792;
}

.tag_button, .filter_button {
  background-color: #762efc;
  margin: 0 0 10px 10px;
  font-size: 0.8em;
}

.filter_button {
  background-color: #3a59e4;
}